.layout {
	box-sizing: border-box;
	min-width: 320px;
	max-width: 29rem;
	min-height: 100dvh;
	padding: 3.375rem 0.75rem 2.625rem;
	margin-inline: auto;
	background-color: var(--color-white);
	background-image: linear-gradient(transparent 1.46875rem, #00008026 1.5rem);
	background-size: 1.5rem 1.5rem;
}

.layout__header {
	display: none;
}

.layout__author {
	margin: 0 0 1.5rem;
	font-style: normal;
	text-align: center;
}

.layout__copyright {
	position: fixed;
	transform: scale(0);
}

@media (min-width: 768px) {
	.layout {
		padding-inline: 1.5rem;
		box-shadow: 0 0.03125rem 0.125rem #0000005e;
	}
}

@media print {
	.layout {
		padding: 0;
		background: none;
		box-shadow: none;
	}

	.layout__footer {
		display: none;
	}
}
